 .main {
    margin-top: 30px; 
  }

.profile{
  margin-left: 200px;
  padding: 0px 10px;
} 

 .navbar {
    overflow: hidden;
    background-color:#333333;
    font-family: courier;
    font-size: 20px;
    position: fixed; 
    top: 0; 
    width: 100%; 
}
  .navbar a {
    float: left;
    display: block;
    color: #bababa;
    text-align: center;
    padding: 16px 18px;
    text-decoration: none;
  }

  .navbar a:hover {
    background: white;
    color: black;
  }

.sidenav {
  height: 100%; 
  width: 160px; 
  position: fixed; 
  z-index: 0; 
  top: 53px; 
  left: 2;
  background-color: black; 
  overflow-x: hidden; 
  padding-top: 50px;
}

.sidenav a {
  padding: 6px 6px 16px 6px ;
  text-decoration: none;
  font-family: Courier;
  font-size: 20px;
  color: #bababa; /* light-grey */
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}
